
.signup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 320px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin: 0 auto;
    padding: 1%;
   
}

label {
    text-align: left;
    color: blueviolet;
    padding: 2%;

}
input {
    border: 2px solid rgb(103, 175, 135);
    border-radius: 8px;
    height: 25px;    
}



/* .form-github {
    font-family: sans-serif;
    font-size: 0.8em;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(236, 233, 233);
    border-radius: 5px;
    margin: 0 auto;
    padding: 1%;
    background-color: #f6f8fa;
}

.form-github *{
    margin: 5px 0;
}
.wrap-password {
    display: flex;
    justify-content: space-between;

}

.form-github input {
    height: 1.5em;
    border: 1px solid rgb(236, 233, 233);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.button-sign {
    color: white;
    background-color: #1f883d;
    border-radius: 5px;
    padding: 4px 0;
    border: 1px solid rgb(236, 233, 233);
} */


/* .form {
    width: 320px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 auto;
    padding: 1%;
}

.form *{
    margin: 5px 0;
}
.flex-row  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input:checked + span{
    border: 1px solid red;
} 
    
.red-star {
    color: red;
    font-size: 1.1em;
}
.gender-label::after {
    content: '*';
    color: red;
}

lable[for="name-field"] {
    background-color: blanchedalmond;
}

input[type="text"] {
    background-color: yellowgreen;
}

input[type="checkbox"] {
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: violet;
    border-radius: 2px;
}
input[type="checkbox"]:checked {
    background-color: white;
    border: 3px solid violet;
    background-image: ;
} */


/* 
input:required {
    background-color: rgb(144, 243, 247);
}

input:required::after {
    content: '*';
    color: red;
    display: block;
    position: absolute;
} */